<aside class="xl:h-full xl:p-5 xl:w-[500px]">
  <div
    class="bg-grey-900  overflow-hidden relative flex flex-col items-center p-7.5 rounded-b-xl xl:rounded-xl xl:h-full w-full"
  >
    <div class="relative z-10 text-white flex flex-col justify-between h-full">
      <img
        aria-label="Logo Large Image"
        src="assets/images/logo-large.svg"
        alt="Logo Large Image"
        class="w-36"
      />
      <div class="hidden xl:block">
        <h2 class="text-01">Keep track of your money and save for your future</h2>
        <p class="text-04 mt-5">
          Personal finance app puts you in control of your spending. Track
          transactions, set budgets, and add to savings pots easily.
        </p>
      </div>
    </div>
    <img
      class="absolute inset-0 hidden xl:block"
      src="assets/images/illustration-authentication.svg"
      alt="Illustration Authentication"
    />
  </div>
</aside>
